@use "variables" as v;
@use "mixins" as m;
@use "mixins_dimensions" as md;

.section-image-text-adv {
  // border: 1px solid red;
  position: absolute;
  width: 100%;
  top: 103.1875rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // 1115px
  @media (max-width: 69.6875rem) {
    // border: 8px solid pink;
    top: 90rem;
  }
  // 774px
  @media (max-width: 48.375rem) {
    // border: 8px solid pink;
    top: 115rem;
  }
  // 588px
  @media (max-width: 36.8125rem) {
    // border: 8px solid red;
    top: 124rem;
  }
  // 460px
  @media (max-width: 28.75rem) {
    // border: 8px solid red;
    top: 115.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("apple-iphone-5", 1) {
    top: 130.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("samsung-galaxy-s2", 1) {
    top: 130.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("apple-iphone-3-4", 1) {
    top: 130.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("blackberry-8300", 1) {
    top: 130.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("blackberry-8300", 2) {
    top: 150.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("motorola-razr-v8", 1) {
    top: 150.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("motorola-razr-v8", 2) {
    top: 130.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("motorola-razr-v3m", 1) {
    top: 170.625rem;
  }

  // ⬇️⬆️
  @include md.d-m("motorola-razr-v3m", 2) {
    top: 150.625rem;
  }
}

.section-image-text-adv-container-1 {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-image-text-adv-container-1 {
  &__picture {
    img {
      width: 100%;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.07);
      }
    }
  }
  // ⬇️⬆️ 375px
  @media (max-width: 23.5rem) {
    &__picture {
      img {
        // border: 1px solid red;
        max-width: 22.375rem;
      }
    }
  }
}

// Access Clipboard anywhere
.section-image-text-adv-container-1-article-1 {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @include m.little_article(
    // 1
    0,
    // 2
    1.1rem,
    // 3
    2.22rem,
    // 4
    500,
    // 5
    normal,
    // 6
    v.$Dark-Grayish-Blue,
    // 7
    300,
    // 8
    0.025rem,
    // 9
    v.$Grayish-Blue,
    // 10
    75%,
    // 11
    0.5625rem,
    // 12
    normal,
    // 13
    unset
  );
  text-align: center;
  // 623px
  @media (max-width: 38.9375rem) {
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      2.22rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      80%,
      // 11
      0.5625rem,
      // 12
      normal,
      // 13
      unset
    );
  }
  // 483px
  @media (max-width: 30.1875rem) {
    // border: 1px solid red;
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.75rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      90%,
      // 11
      0.5625rem,
      // 12
      1.4375rem,
      // 13
      unset
    );
  }
  // 397px
  @media (max-width: 24.8125rem) {
    // border: 1px solid red;
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.75rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      97%,
      // 11
      0.5625rem,
      // 12
      1.4375rem,
      // 13
      70%
    );
  }
  @include md.d-m("motorola-razr-v8", 1) {
    // border: 1px solid red;
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.75rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      97%,
      // 11
      0.5625rem,
      // 12
      1.4375rem,
      // 13
      100%
    );
  }
  @include md.d-m("motorola-razr-v8", 2) {
    // border: 1px solid red;
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.75rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      97%,
      // 11
      0.5625rem,
      // 12
      1.4375rem,
      // 13
      100%
    );
  }
}

.section-image-text-adv-container-1-article-2 {
  // border: 1px solid red;
  @include m.little_article(
    // 1
    0,
    // 2
    1.1rem,
    // 3
    2.22rem,
    // 4
    500,
    // 5
    normal,
    // 6
    v.$Dark-Grayish-Blue,
    // 7
    300,
    // 8
    0.025rem,
    // 9
    v.$Grayish-Blue
  );
  text-align: center;
  // 482px
  @media (max-width: 30.1875rem) {
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.9rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue
    );
  }
  // 419px
  @media (max-width: 26.1875rem) {
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.5rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      90%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // ⬇️⬆️ 375px
  @media (max-width: 23.5rem) {
    // border: 1px solid red;
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.65rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      80%,
      // 11
      0.5625rem,
      // 12
      normal,
      // 13
      60%,
      // 14
      unset
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // ⬇️⬆️
  @include md.d-m("motorola-razr-v3m", 1) {
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.65rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      80%,
      // 11
      0.5625rem,
      // 12
      normal,
      // 13
      100%,
      // 14
      unset
    );
  }
  // ⬇️⬆️
  @include md.d-m("motorola-razr-v3m", 2) {
    @include m.little_article(
      // 1
      0,
      // 2
      1.1rem,
      // 3
      1.65rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      80%,
      // 11
      0.5625rem,
      // 12
      normal,
      // 13
      100%,
      // 14
      unset
    );
  }
}

.section-image-text-adv-container-2 {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  gap: 0.0625rem;
  padding: 0 3rem;
  width: 100%;
  margin-bottom: 9.9375rem;
  // 778px
  @media (max-width: 48.625rem) {
    // border: 8px solid red;
    flex-direction: column;
  }
}

.section-image-text-adv-container-2-section-1 {
  &__picture {
    // border: 5px solid yellow;
    margin: 2.8125rem auto 2.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
}

.section-image-text-adv-container-2-section-1-article {
  // border: 1px solid red;
  @include m.little_article(
    // 1
    0,
    // 2
    0.8rem,
    // 3
    1.48rem,
    // 4
    500,
    // 5
    normal,
    // 6
    v.$Dark-Grayish-Blue,
    // 7
    300,
    // 8
    0.025rem,
    // 9
    v.$Grayish-Blue,
    // 10
    53.2%,
    // 11
    1rem,
    // 12
    1.5rem,
    // 13
    unset
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  // 778px
  @media (max-width: 48.625rem) {
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      53%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
  // 448px
  @media (max-width: 28rem) {
    // border: 8px solid green;
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      105%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }

  // ⬇️⬆️ 375px
  @media (max-width: 376px) {
    // border: 8px solid green;
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      100%,
      // 11
      1rem,
      // 12
      1.5rem,
      // 13
      unset,
      // 14
      unset,
      // 15
      2.375rem,
      // 16
      1
    );
  }

  // ⬇️⬆️ 375px
  @include md.d-m("apple-iphone-6-7", 1) {
    // border: 8px solid green;
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      100%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }

  // ⬇️⬆️
  @include md.d-m("samsung-galaxy-s2", 2) {
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      100%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }

  // ⬇️⬆️
  @include md.d-m("motorola-razr-v3m", 1) {
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      100%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }

  // ⬇️⬆️
  @include md.d-m("motorola-razr-v3m", 2) {
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      100%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
}

.section-image-text-adv-container-2-section-2 {
  &__picture {
    // border: 5px solid yellow;
    margin: 2.8125rem auto 2.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-image-text-adv-container-2-section-2-article {
  // border: 1px solid red;
  @include m.little_article(
    // 1
    0.1rem,
    // 2
    0.8rem,
    // 3
    1.48rem,
    // 4
    500,
    // 5
    normal,
    // 6
    v.$Dark-Grayish-Blue,
    // 7
    300,
    // 8
    0.025rem,
    // 9
    v.$Grayish-Blue,
    // 10
    80%,
    // 11
    1rem,
    // 12
    1.5rem
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  // 778px
  @media (max-width: 48.625rem) {
    @include m.little_article(
      // 1
      0.1rem,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      53%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
  // 448px
  @media (max-width: 28rem) {
    // border: 8px solid green;
    @include m.little_article(
      // 1
      0.1rem,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      103%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
  // ⬇️⬆️ 375px
  @media (max-width: 23.5rem) {
    // border: 8px solid green;
    @include m.little_article(
      // 1
      0.1rem,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      130%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
  // ⬇️⬆️
  @include md.d-m("samsung-galaxy-s2", 2) {
    @include m.little_article(
      // 1
      0.1rem,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      130%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
}

.section-image-text-adv-container-2-section-3 {
  &__picture {
    // border: 5px solid yellow;
    margin: 2.8125rem auto 2.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-image-text-adv-container-2-section-3-article {
  // border: 1px solid red;
  @include m.little_article(
    // 1
    0,
    // 2
    0.8rem,
    // 3
    1.48rem,
    // 4
    500,
    // 5
    normal,
    // 6
    v.$Dark-Grayish-Blue,
    // 7
    300,
    // 8
    0.025rem,
    // 9
    v.$Grayish-Blue,
    // 10
    85%,
    // 11
    1rem,
    // 12
    1.5rem
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  // 778px
  @media (max-width: 48.625rem) {
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      45%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
  // 448px
  @media (max-width: 28rem) {
    // border: 8px solid green;
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      100%,
      // 11
      1rem,
      // 12
      1.5rem
    );
  }
  // ⬇️⬆️ 375px
  @media (max-width: 23.5rem) {
    // border: 1px solid red;
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      110%,
      // 11
      1rem,
      // 12
      1.5rem,
      // 13
      unset,
      // 14
      unset,
      // 15
      0rem
    );
  }
  // ⬇️⬆️
  @include md.d-m("samsung-galaxy-s2", 2) {
    @include m.little_article(
      // 1
      0,
      // 2
      1rem,
      // 3
      1.48rem,
      // 4
      500,
      // 5
      normal,
      // 6
      v.$Dark-Grayish-Blue,
      // 7
      300,
      // 8
      0.025rem,
      // 9
      v.$Grayish-Blue,
      // 10
      110%,
      // 11
      1rem,
      // 12
      1.5rem,
      // 13
      unset,
      // 14
      unset,
      // 15
      0rem
    );
  }
}
