@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
// COLORS
//        Primary
// #26baa4
$Strong-Cyan: hsl(171, 66%, 44%);
// #6173ff
$Light-Blue: hsl(233, 100%, 69%);
//        Neutral
// #4c545d
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
// #9fabb2
$Grayish-Blue: hsl(202, 11%, 66%);
$White: #fff;
// #F5F5F5
$Footer-back: #f5f5f5;
// FONTS
$Font-size: 18px;
$Font-family: "Bai Jamjuree", sans-serif;
// DIMENSIONS
$Width-mobile: 20.3125rem;
$Height-mobile: 37.5rem;
$Width-desktop: 43.8125rem;
$Height-desktop: 37.5rem;
$Width-media: 90.625rem;
