@use "variables" as v;
@use "mixins" as m;
@use "initial";
@use "footer";
@use "header_web";
@use "article_keep_track";
@use "section_image_text";
@use "section_image_text_adv";
@use "section_ads_text_buttons";
@use "footer_web";

.main-container {
  margin: 3.8125rem auto 5.4375rem;
  // ⬇️ 1450px
  @media (max-width: v.$Width-media) {
    // border: 1px solid blue;
    width: v.$Width-desktop;
    max-width: 64rem;
    min-height: v.$Height-mobile;
    min-height: v.$Height-desktop;
    margin: 8rem auto 8rem;
  }
  // ⬇️ 932px
  @media (max-width: 58.25rem) {
    // border: 1px solid red;
    width: 37.5rem;
  }
  // ⬇️ 772px
  @media (max-width: 48.25rem) {
    // border: 5px solid brown;
    width: 31.25rem;
  }
  // ⬇️ 665px
  @media (max-width: 41.5625rem) {
    // border: 5px solid pink;
    width: 28.125rem;
  }
  // ⬇️ 587px
  @media (max-width: 36.6875rem) {
    // border: 5px solid green;
    width: 25rem;
  }
  // ⬇️ 405px
  @media (max-width: 25.3125rem) {
    width: auto;
  }
  // ⬇️⬆️ 375px
  @media (max-width: 23.4375rem) {
    // border: 5px solid yellow;
    width: v.$Width-mobile;
  }
}
